@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(13, 64, 82);
  background: linear-gradient(
    90deg,
    rgba(13, 64, 82, 1) 0%,
    rgba(11, 7, 33, 1) 35%,
    rgba(13, 42, 48, 1) 100%
  );
}

.section {
  margin-top: 40px;
}

.btn {
  background: rgb(33, 122, 153);
  background: linear-gradient(
    90deg,
    rgba(33, 122, 153, 1) 0%,
    rgba(49, 110, 199, 1) 35%,
    rgba(41, 143, 214, 1) 100%
  );
}

.btn:hover {
  background: rgb(44,133,163);
  background: linear-gradient(90deg, rgba(44,133,163,1) 0%, rgba(33,81,149,1) 35%, rgba(0,47,79,1) 100%);
}

.gradient,
.active {
  background: rgb(33, 122, 153);
  background: linear-gradient(
    90deg,
    rgba(33, 122, 153, 1) 0%,
    rgba(49, 110, 199, 1) 35%,
    rgba(41, 143, 214, 1) 100%
  );
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}


.social-media {
  background: rgb(190, 204, 209);
  background: linear-gradient(
    90deg,
    rgba(190, 204, 209, 1) 0%,
    rgba(192, 201, 214, 1) 35%,
    rgba(203, 222, 226, 1) 100%
  );
}

/* .first-text {
  text-align: center;
  padding-left: 0px;
  padding-top: 20px;
  font-size: 35px;
  font-style: italic;
  color: #fff;
  transform: translate(0, 30%);
} */

/* .image {
  height: 240px;
  width: 50%;
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: translate(0, 55%);
} */

 /* .contact-image {
  padding-top: -350px;
  padding-left: 20%;
}  */

/* .social-media-icon {
  display: flex;
  flex-direction: row; 
  transform: translate(0, 20%);
  justify-content: center;
  list-style: none; 
  overflow: hidden;
  position: static;
}   */

/* .twitter-icon {
  background: #08a0e9;
  padding: 5px;
  border-radius: 6px;
}

.facebook-icon {
  background: #3b5998;
  padding: 5px 9px 5px;
  border-radius: 50%;
}

.instagram-icon {
  background: radial-gradient(
    circle at 33% 100%,
    #fdf373 1%,
    #f15245 30%,
    #d92e7f 62%,
    #d6249f 60%,
    #515ecf 100%,
    #9b36b7 85%
  );
  padding: 5px;
  border-radius: 8px;
}

.linkedln-icon {
  background: #0e76a8;
  padding: 5px;
  border-radius: 5px;
} */

 /* .social-media ul li {
  padding: 0 40px;
  left: auto;
  right: auto;
  padding-left: 20px;
  font-size: 28px;
} */

/* .icon-text {
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 40px;
  font-weight: 300;
  color: #19497b;
  font-style: italic;
  transform: translate(0, 100%);
} */

.float-right {
  float: right;
  padding-right: 20px;
  padding-bottom: 300px;
}
@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-white font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#42A6E3] to-[#FF56F6] font-bold font-primary hover:from-[#FF56F6] hover:to-[#42A6E3];
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
}

